@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn .6s ease-in-out;
    padding: 0;
  }

body {
    background-image: url("../images/TwosBackground2Blurred.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    height: 100vh; 
    overflow-y: hidden;
}

.menu-parent {
    margin: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 0;
    overflow: hidden;
    
}


#MenuContainer {
    margin-top: auto 0px;
    margin-bottom: auto 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

/* Portrait mode (less than 768px) */
@media (max-width: 992px) {
    .menu-parent {
        overflow-y: auto; /* Allow scrolling in portrait mode */
        padding: 0;
    }

    .row {
        height: auto;
    }

    .menu-cart-container {
        margin: 1em 0px;
    }
}

.menu-parent::-webkit-scrollbar {
    display: none; 
    padding: 0;
}

/*MENU*/

.menu-container {
    display: inline-block;
    flex-direction: column;
    position: relative;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
    word-break: break-all;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 25px;
    outline: none;
}

.block-tabs nav {
    width: 100%;
}

.block-tabs nav button {
    width: 100%;
    margin: 0px auto;
}

    /* MENU OVERFLOW*/
    .scrollable-container {
        overflow-y: scroll;        /* Enable vertical scrolling */
        overflow-x: hidden;      /* Hide horizontal scrollbar */
        height: 75vh;
    }
    
    /* Style for the scrollbar */
    .scrollable-container::-webkit-scrollbar {
        width: 9px;
    }
    
    .scrollable-container::-webkit-scrollbar-track {
        background: rgba(0,0,0,0);     /* Background color of the track */
    }
    
    .scrollable-container::-webkit-scrollbar-thumb {
        background-color: rgba(254, 114, 35, 0.5);  /* Color of the scrollbar thumb */
        border-radius: 10px;     /* Rounded corners for the thumb */
        border: 1px solid rgba(254, 114, 35, 1);/* Padding around the scrollbar thumb */
    }
    
    .scrollable-container::-webkit-scrollbar-thumb:hover {
        background-color: rgba(254, 114, 35, 1);   /* Color of the scrollbar thumb on hover */
    }

.block-tabs{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.tabs {
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    float:left;
    white-space: nowrap;
    background: rgb(128,128,128 0.075);
    cursor: pointer;
    font-size: 22px;
    font-family: 'Fredoka', sans-serif;
    padding: 0.5em 2.5em;
    margin: 0px .5em 0px 0px !important;
    border-radius: 1em;
    border: none;
    outline: none;
    background: none;
    color: white;
    transition: background-color 0.3s ease;
}

.tabs:hover{
    background-color: #fe7223;
    color: white;
}

.block-tabs .navbar-toggler {
    padding: 0px !important;
}

.tabs-categories-container {
    padding: 1em;
}

.tabs-categories-closed {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    padding: 0.5em 1em;
    margin: 0px 0px 1em 0px;
    border-radius: 1em;
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.tabs-categories.closed:hover {
    background-color:#fff;
}

.tabs-categories-open {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    padding: 0px;
    margin: 0px 0px 1em 0px;
    border-radius: 1em;
    border: none;
    outline: none;
    background: none;
    color: #fe7223;
    transition: color 0.3s ease;
}

.tabs-categories.open:hover {
    color: #ffffff;
}

.active-tabs{
    background-color: #fe7223;
    color: white;
}

.content{
    display: none;
    color: white;
}

.content h2{
    padding: 0px;
}

hr {
    width: 100%;
    height: 3px;
    background-color: #fe7223;
    opacity: 50%;
    border: none;
    outline: none;
    margin: 0 0 5 0;
    border-radius: 100px;
}

.active-content{
    display:block;
}

/* MENU CARDS */

.nav-link {
    text-align: center;
    background: rgba(128,128,128 0.075);
    cursor: pointer;
    font-size: 22px;
    font-family: 'Fredoka', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: none;
    color: white;
}

.nav-link:hover{
    background-color: #fe7223;
    color: white;
}

.active {
    background-color: #fe7223;
    color: white;
    border-radius: 1em;
    padding: 0.5em 1em;
}

/* ENSURE RESPONSIVE HEIGHT OF IMAGE BASED CONTENT */
.img-parent {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}


.cropped-img {
    height: 50px;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 250px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: top;
    overflow-wrap: break-word;
    white-space: normal;
    hyphens: auto;
    height: 100%;
    height: 200px;
}

/* CUSTOM COLORS OVERRIDE BOOTSTRAP */
    /* CARDS */
.card {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #ffffff !important;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgba(56, 56, 56, 0.7) !important;
    height: auto;
    opacity: 80%;
    transition: opacity 0.3s ease;
    flex-grow: 1;
}

.card:hover {
    opacity: 100%;
}

    /* CARD TEXT */
.card-text {
    margin-bottom: 1em;
    line-height: 1.5em;            
    max-height: calc(1.5em * 5);
}

h5 {
    font-size: 22px !important;
}

/* MEAL CARD BOTTOM -> PRICE AND QTY */
.meal-card-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* PRICE */
.price {
    margin-right: auto;
    margin-bottom: 0;
}

    /* QTY BUTTONS */
.btn {
    background-color: #fe7223 !important;
    color: rgba(255, 255, 255, 0.5) !important;
    border-color: rgba(254, 114, 35, 0.5) !important;
    font-family: 'Poppins', sans-serif;
}

.btn-group {
    bottom: 0px;
    margin-left: auto;
    margin-top: auto;
    align-self: flex-start;
}

.btn-outline-primary {
    border-radius: 20px 0px 0px 20px !important;
}

.btn-right-radius {
    border-radius: 0px 20px 20px 0px !important;
}

.btn:hover {
    background-color: rgba(254, 114, 35, 0.5) !important;
    color: #ffffff !important;
    border-color: #fe7223 !important;
}

.disabled {
    background-color: #fe7223 !important;
    color: #ffffff !important;
    border-color: #fe7223 !important;
    opacity: 100% !important;
}

/* CART */
.menu-cart-container {
    display: inline-block;
    color: #ffffff;
    flex-direction: column;
    position: relative;
    width: 93.5%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 25px;
    outline: none;
}

.cart-container h1 {
    color: #fe7223;
}