@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn .6s ease-in-out;
}

.register-page {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
  background-image: url("../images/TwosBackground3.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0;
}

.register-container {
  width: 600px;
  height: 670px;
  margin: auto;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color:  rgba(0, 0, 0, 0.4);
}

.register-page h2 {
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

#logoContainer{
  display: flex;
  justify-content: center;
}

.register-page label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.register-page input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#registerBtn{
  display: flex;
  justify-content: center;
}

.register-page button {
  width: 120px;
  padding: 10px;
  background-color: #fe7223;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  border-radius: 25px;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
}

.register-page button:hover {
  background-color: #c25a1f;
}

.Login {
  color: #fe7223;
  text-decoration: none;
}

.Login:hover {
  text-decoration: underline;
}

.register-page p {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 20px;
}


#logoContainer{
  display: flex;
  justify-content: center;
}

.LogoSU {
  height: 80px; 
  width: auto;
  margin-bottom: 0px;
}