h1 {
    font-size: 300%;
    margin: 0px 0px 0.5em 0px;
    color: #fe7223;
}

.table-container {
    margin: auto;
    padding: 4em;
}

table {
    width: 100%;
    margin: auto;
}

tr {
    width: 100%;
}

td {
    padding: 0px;
}

/* MAIN ROW */
.mainRow p {
    font-size: 150%;
    font-weight: 700;
}

/* DATA */
.data p {
    font-size: 125%;
}

.first {
    width: auto;
    font-weight: 700;
}

.second, .third, .fourth {
    width: auto;
}

.fourth {
    font-weight: 700;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

hr {
    color:#fe7223;
}

/* TOTAL */
.total {
    margin: auto;
    width: auto;
}

.total td {
    padding: 0px 0.5em;
}

.total p {
    margin-bottom: 0px;
    font-size: 200%;
    font-weight: 700;
}

/* CHECKOUT BTN */
.btn-container {
    width: 100%;
}

#checkout-btn {
    background-color: rgba(254, 114, 35, 0.5) !important;
    color: rgba(255, 255, 255, 1) !important;
    border-color: rgba(254, 114, 35, 1) !important;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin: 1em 25%;
    width: 50%;
    font-size: 120%;
}

#checkout-btn:hover {
    background-color: rgba(254, 114, 35, 1) !important;
}