@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype'); 
    font-weight: 600; 
    font-style: normal;
}

li {
    font-size: 14px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif !important;
}

.social-icons {
    margin-right: 1em;
}

.remove-margin {
    margin-top: 0px !important;
}